/*
Colors used:
Yellow - Primary: #ffc300;
Orange - Primary: #fb6107;
Blue - visited/unvisited links: 082ed0;
Dark Yellow - active links: #e6b000;
*/
* {
  box-sizing: border-box;
}

/* Layout styling */
header {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

main {
  padding-top: 180px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#main-content-section .row {
  padding-bottom: 25px;
  border-bottom: 1px;
}

#hero-section h1 {
  text-align: center;
  margin-top: 0;
}

.home #main-content-section {
  padding-top: 60px;
}

.home #hero-section img {
  z-index: 999;
}

.home #main-content-section h2 {
  text-align: center;
}

footer {
  background-color: #fb6107;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

.logo {
  max-width: 75px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

body {
  background-color: #f6f6f6;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #141823;
}

/* FONTS */
h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 1.953em;
  font-weight: 700;
}

h2 {
  font-size: 1.563em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

#intro {
  background-color: #ffc300;
  z-index: 9999;
  position: relative;
  margin: -7px auto 0;
  width: 100%;
  text-align: center;
  padding: 35px 15px;
}

.home h1 {
  font-size: 1.563em;
  margin: 0px;
}

.home h1 span {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 1em;
  display: block;
}

img {
  width: 100%;
  height: auto;
}

/* LINKS */
a {
  font-weight: 700;
  color: #082ed0;
  text-decoration: underline;
  transition: 0.5s background-color;
}

a:visited {
  color: #082ed0;
}

a:hover,
a:focus {
  color: #ffc300;
}

a:active {
  color: #e6b000;
}

.a.selected {
  color: #fb6107 !important;
}

nav>ul>li>a {
  padding: 0 3px;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #141823 !important;
  text-decoration: none;
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #fb6107 !important;
}

/* BUTTONS */
.button {
  display: inline-block;
  /* since the <a> tag is inline by default, changed to inline-block */
  background-color: #fb6107;
  color: #ffffff !important;
  /* needed to override the default link color */
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s background-color;
}

.button:hover,
.button:focus {
  background-color: #ffc300;
  text-decoration: none;
}

.button.contact {
  background-color: #141823;
  margin-bottom: 15px;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #ffc300 !important;
}

#main-content-section {
  padding: 20px 0;
}

#main-content-section h1 {
  text-align: center;
}

.candles #hero-section p {
  margin: 0;
}

.candles #main-content-section {
  padding: 0;
}

.candles #main-content-section p {
  text-align: center;
  margin: 5px;
}

.candle-name {
font-weight: 700;
}

.candles #main-content-section img {
  margin-top: 40px;
}

.propolis h1 {
  margin-bottom: 0;
}

.our_story figure {
  margin: 20px 0 20px 0;
  padding-top: 20px;
}

.our_story h3 {
  margin-top: 40px;
}

.social-icon {
  text-decoration: none;
  color: #141823 !important;
  padding: 15px;
  transition: 0.5s background-color;
}

.social-icon:hover,
.social-icon:focus {
  color: #ffc300 !important;
}

.graphic {
  width: 100%;
   max-width: 100%;
   height: auto;
   padding: 60px 0;
}

/* @keyframes shake {
  0% { transform: translateX(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} */

@keyframes b-move {
  from {transform: translateX(0);}
  to {transform: translateX(35px);}
}

@keyframes b-move-reverse {
  from {transform: translateX(0);}
  to {transform: translateX(-35px);}
}

/* #element_4 {
  animation: shake 1.1s infinite;
} */

#b1,
#b6,
#b10,
#b15 {
   animation: b-move 0.7s infinite alternate linear;
}

#b2,
#b4,
#b7,
#b11 {
   animation: b-move 0.8s infinite reverse linear;
}

#b3,
#b9,
#b13 {
   animation: b-move 0.6s infinite alternate linear;
}

#b5,
#b8,
#b12,
#b14 {
   animation: b-move 0.5s infinite reverse linear;
}

#b16,
#b20,
#b25 {
  animation: b-move-reverse 1s infinite alternate linear;
}

#b24,
#b21,
#b17 {
  animation: b-move-reverse 1s infinite reverse linear;
}

#b18,
#b19,
#b22,
#b23 {
  animation: b-move-reverse 0.6s infinite alternate linear;
}

@media only screen and (min-width: 768px) {

  main {
    padding-top: 130px;
  }

  [class*="col-md"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right
  }

  nav>ul>li>a {
    padding: 0 15px;
    font-size: 1em;
  }

  .col-md-6 {
  width: 50%;
}

.home #main-content-section h2 {
  padding-bottom: 40px;
}

.home #main-content-section h3 {
  margin-top: 0;
}

.our_story #main-content-section h3 {
  margin-bottom: 0;
}

}

@media only screen and (min-width: 1024px) {

  header {
    max-width: 1164px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero-section {
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
}

#main-content-section {
  max-width: 988px;
  margin-left: auto;
  margin-right: auto;
}

[class*="col-lg-3"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

 .row::after {
  content: "";
  clear: both;
  display: table;
}

.col-lg-3 {
  width: 33.33%;
}

[class*="col-lg-4"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

[class*="col-lg-8"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-lg-4 {
  width: 33.33%;
}

.col-lg-8 {
  width: 66.66%;
}

.honey #main-content-section h2 {
  margin-top: 0;
}

.propolis #main-content-section p {
  margin-top: 0;
}

  #intro {
    margin: -80px auto 0;
    width: 70%;
  }
}


@media only screen and (min-width: 1440px) {

  #intro {
    margin: -90px auto 0;
    width: 70%;
  }

}
